#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo{
  font-size: 80px;
  margin: 0;
}

.indexText{
  font-style: italic;
  font-size: 20px;
}



.startButton{
  background: #4D5B9E;
  border-radius: 15px;
  width: 200px;
  font-size: 25px;
}

.question {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  color: #293264;
}

.answerButton {
  border-radius: 7.94239px;
  margin-right: 7px;
  padding: 10px;
  background-color: white;
  border: 1px solid #4D5B9E;
  color: #293264;
}

.correctAnswers{
  background-color: green;
  color:white;
}

.incorrectAnswer{
  background-color: #F8BCBC;
}

.questionPage{
    margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* min-width: 320px;
      min-height: 100vh; */

}

.questionLine{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkAnswer {
  background-color: #4D5B9E;
  border-radius: 15px;
  width: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}


.questionHead{
  text-decoration: underline;
  font-size: 40px;
}
